.card {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    color: #FFFAFF;
    margin-bottom: 42px; 
}

.card img {
    margin: 0px 10px;
}

.link {
    color: #FFFAFF;
    text-decoration: none;
}